@charset "utf-8";
/* CSS Document */

body{
	background-color: white;
	text-align: center;
	font-family: "Inconsolata",sans-serif;
	margin: 0px;
}

div {
	background-color: lavender;
	font-family: "Inconsolata",sans-serif;
	font-size: 24px;
	width: 80%;
	height: 90vh;
	margin: auto;
	position: relative;
	left: 100px;
	top: 50px;
}
			
form {
	background-color: white;
	width: 80%;
	height: 80%;
	margin: auto;
	position: relative;
	top: 10px;
	text-align: center;
	padding: 1em;
 	border: 1px solid #ccc;
  	border-radius: 1em;
}

label {
	display: inline-block;
  	position: relative;
	top: 20px;
	right: 200px;
  	text-align: left;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}
			
.inputFields {
	display: block;
	margin: auto;
	font-size: 18px;
}
			
button {
	background-color: white;
	border: 1px solid #999;
	border-radius: 12px;
	padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidenav {
  height: 100vh;
  width: 200px;
  float: left;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: lightpink;
  display: block;
  margin: 20px;
}

.sidenav a:hover {
  text-decoration: underline;
}

