@charset "utf-8";
/* CSS Document */

.grid {
	display: grid;
	grid-template-columns: 25% 70%;
}

body{
	background-color: white;
	text-align: center;
	font-family: "Inconsolata",sans-serif;
	margin: 0px;
}

img{
	border-radius: 50%;
	transform: scale(0.8);
}

.sidenav {
  width: 200px;
  float: left;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: lightpink;
  display: block;
  margin: 20px;
}

.sidenav a:hover {
  text-decoration: underline;
}

#hamburgerDiv {
    align-self: center;
	background-color: white;
    }

#hamburgerBtn {
	background-color: white;
	font-size: 32px;
	border: 1px;
    }

.theLinks {
	background-color: white;
	display: none;
	color: lightpink;
	text-align: center;
	text-decoration: none;
    }

.theLinks a {
	display: block;
	color: lightpink;
    }

.theLinks:hover {
	text-decoration: underline;
	}

#mobileNav {
	display: none;
	}

.mobileNavBar {
	background-color: white;
	position: relative;
	border: 1px;
	height: 50px;
	display: flex;
	justify-content: center;
    }

.mobileNavBar a { 
	display: block;
}
	
@media only screen and (max-width: 768px) {
	#mobileNav {
		display: block;
		}
	img {
		float: right;
		}
	.sidenav {
		display: none;
	}
	body {
		margin-left: auto;
	}
	p {
    padding: 20px;
	}
	
}




	
