@charset "utf-8";
/* CSS Document */

body {
    background-color: white;
    text-align: center;
    font-family: "Inconsolata", sans-serif;
    margin: 0;
    display: flex; /* Add flex display to align sidenav and content side by side */
	flex-direction: column; /* Stack elements vertically */
}

.content {
    margin-left: 220px; /* Adjust based on the width of your sidenav */
    width: calc(100% - 220px); /* Ensure content takes up the remaining space */
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjusted for responsiveness */
    grid-gap: 10px; /* Adjust grid gap for spacing */
    padding: 10px;
}

.gallery-heading h2 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 20px; /* Add top margin for spacing, adjust as needed */
}

.sidenav {
    position: fixed; /* Fixed position for sidenav */
    width: 200px;
    height: 100vh; /* Full viewport height */
    top: 0;
    left: 0;
    background-color: antiquewhite;
    overflow-x: hidden;
    padding-top: 20px; /* Adjusted padding */
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: lightpink;
    display: block;
	margin: 20px;
}

.sidenav a:hover {
    text-decoration: underline;
}

.gallery {
    display: inline-block;
    margin: 5px;
    width: 100%; /* Use 100% of the column width */
}

.gallery img {
    width: 50%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
}

