@charset "utf-8";
/* CSS Document */

body {
    width: 100%;
	background-image: url("../../../../Downloads/haibara.jpg");
	background-size: 100% 100%;
  	color: transparent;
    height: 100%;
    animation-duration: 10.04s;
    animation-direction: normal;
    animation-iteration-count: infinite; 
	color: whitesmoke;
	letter-spacing: 2px;
	font-size: 28pt;
    text-align: center; 
}

p {
	margin: 0px
}
	
@keyframes fadeInOut {
		0% {
			opacity: 0;
		}
		45% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			}
}

.text1 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 1s;
		animation-duration: 5s;
		z-index: 10;
}

.text2 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 5s;
		animation-duration: 5s;
		z-index: 10;
}

.text3 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 10s;
		animation-duration: 5s;
		z-index: 10;
}

.text4 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 15s;
		animation-duration: 5s;
		z-index: 10;
}

.text5 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 20s;
		animation-duration: 5s;
		z-index: 10;
}

.text6 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 25s;
		animation-duration: 5s;
		z-index: 10;
}

.text7 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 30s;
		animation-duration: 5s;
		z-index: 10;
}

.text8 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 35s;
		animation-duration: 5s;
		z-index: 10;
}

.text9 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 40s;
		animation-duration: 5s;
		z-index: 10;
}

.text10 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 45s;
		animation-duration: 5s;
		z-index: 10;
}

.text11 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 50s;
		animation-duration: 10s;
		z-index: 10;
}


