@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Pixelify Sans', sans-serif;
	font-size: 20px;
	background-image: url("../images/Forest Battle Background, Nauris Amatnieks.jpg");
	background-size: cover;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#text {
	margin-bottom: 20px;
}

.container {
	width: 800px;
	max-width: 80%;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 5px 2px;
	text-align: center;
}

#img-container {
    margin-bottom: 20px;
	display: flex; 
    justify-content: center; 
}

#img-container img {
    max-width: 100px;
    max-height: 200px; 
    height: auto;
    margin-right: 120px;
	margin-left: 120px;
}

#slime-container {
    display: flex;
    justify-content: center;
}

.btn-grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}

.btn {
	background-color: lightgrey;
	padding: 10px 150px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: 'Press Start 2P', cursive;
	font-weight: normal;
	font-size: 13px;
}